.loading-screen {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  padding-top: 8rem;
}

.fa-refresh {
  color: #673ab7;
  font-size: 2.5em;
}

.fa-refresh::after {
  content: "";
  clear: both;
  display: table;
}

.load-msg {
  text-align: center;
}

body {
  color: black;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

input::placeholder {
  text-align: center;
  color: black;
}

.book-icon {
  padding: 10px;
  margin-top: 20px;
}

.second-font,
label,
li,
.btn,
p,
input,
.input-field {
  font-family: "Fauna One", serif;
}

.coverBox {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}

.filepond--drop-label {
  background-color: #673ab7;
}
